<h1>About Bloc</h1>
<p>Created by: G-Unit</p>

<p>Follow the trail to more delicious goodness: </p>

<%= button_to "G's G+", "https://plus.google.com/113619562254000130654",
    class: "social-btn", method: :get %>
