<h1>Incredibly Frequently Asked Questions</h1>

<h2>Glenn, why is the sky blue?</h2>
<h3>Glenn: Because it is</h3>

<h2>Glenn, is programming hard?</h2>
<h3>Glenn: Depends</h3>

<h2>Glenn, that's rivetting. How do you know so much?</h2>
<h3>Glenn: I do </h3>
